{% extends 'base.html' %}

{% block content %}
    <div class="uk-container uk-container-small uk-margin-medium-top">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Проверьте корректность выбранных параметров</legend>
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-4@m uk-text-left@m"><b>Клиника</b></div>
                    <div class="uk-width-expand@m uk-text-left@m">{{ time.doc_id.name }}
                    </div>
                </div>
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-4@m uk-text-left@m"><b>Услуга</b></div>
                    <div class="uk-width-expand@m uk-text-left@m">{{ time.doc_id.position }}</div>
                </div>
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-4@m uk-text-left@m"><b>Дата записи</b></div>
                    <div class="uk-width-expand@m uk-text-left@m">
                        {{ time.date.dates }} - {{ time.time }}</div>
                </div>
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-4@m uk-text-left@m"><b>Тип записи</b></div>
                    <div class="uk-width-expand@m uk-text-left@m">Прием по талону.</div>
                </div>

                <div class="uk-text-right">
                    <input type="submit" class="uk-button-default uk-button">
                </div>
            </fieldset>
        </form>
        </div>

{% endblock %}

