{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Главная</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="//code.jivosite.com/widget/9atwLTTxTc" async></script>

</head>

<body>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class=".uk-alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class=".uk-alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<header>
    <div class="top-line">
        <div class="uk-container uk-container-small">
            <div class="uk-grid uk-child-width-1-3@s" uk-grid>
                <div class="left uk-text-left@s uk-text-center">
{#                    <a href=""><span>A</span>А</a>#}
                </div>
                <div class="center uk-text-center">
{#                    <a href=""><span class="uk-margin-small-right" uk-icon="icon:  calendar"></span> Запись на прием</a>#}
                </div>
                <div class="right uk-text-right@s uk-text-center">
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'delete_schedules' %}"><span uk-icon="icon: user"></span>Удалить записи</a>
                        {% endif %}
                        <a href="{% url 'profile' %}"><span uk-icon="icon: user"></span>Личный кабинет  </a>
                        <a href="{% url 'logout' %}"><span uk-icon="icon: pencil"></span>Выход</a>
                    {% else %}
                        <a href="{% url 'login' %}"><span uk-icon="icon: user"></span>Войти</a>
                        <a href="{% url 'signup' %}"><span uk-icon="icon: pencil"></span>Регистрация</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="middle-line">
        <div class="uk-container uk-container-small">
            <div class="uk-grid uk-flex-middle" uk-grid>
                <div class="left uk-width-1-6@s">
                    <img src="{% static 'img/png/logo.png' %}" alt="">
                </div>
                <div class="center uk-padding-remove uk-width-expand@s">
{#                    <h4>Бюджетное учреждение</h4>#}
                    <h1><a href="/">Медицинский портал электронной очереди</a></h1>
                </div>
                <div class="right uk-text-right uk-width-1-4@s">
                    <a class="phone" href="tel: 8-800-4000-001">{{ contact.phone }}</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line" style="z-index: 980;" uk-sticky="bottom: #offset">
        <div class="uk-container uk-container-small">
            <div class="uk-position-relative">

                <nav class="uk-navbar-container" uk-navbar="dropbar: true">

                    <div class="uk-navbar-left">

                        <ul class="uk-navbar-nav">
                            <li class="uk-flex-middle uk-flex">
                                <a href="/">Главная</a>
                            </li>
                            <li class="uk-flex-middle uk-flex">
                                <a href="{% url 'doctors' %}">Специалисты</a>
                            </li>
{#                            <li class="uk-flex-middle uk-flex">#}
{#                                <a href="{% url 'services' %}">Услуги и цены</a>#}
{#                            </li>#}
{#                            <li class="uk-flex-middle uk-flex">#}
{#                                <a href="#">Пациенту</a>#}
{#                                <div class="uk-navbar-dropdown uk-width-1-1">#}
{#                                    <a href="">asdasd</a>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="uk-flex-middle uk-flex">#}
{#                                <a href="">Контакты</a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </nav>

                <div class="uk-navbar-dropbar"></div>

            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<footer class="uk-margin-medium-top">
    <div class="have_questions uk-text-center">
        <p>Есть вопросы? Просто позвоните нам {{ contact.phone }}</p>
    </div>
    <div class="bg-white">
        <div class="uk-container-small uk-container">
            <div class="uk-grid uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s">
                <div>
                    <h5>Больница</h5>
                    <ul>
                        <li><a href="">О портале</a></li>
{#                        <li><a href="">Структура клиники</a></li>#}
{#                        <li><a href="">Вышестоящие организации</a></li>#}
{#                        <li><a href="">Объявления</a></li>#}
{#                        <li><a href="">Медицинские новости</a></li>#}
{#                        <li><a href="">Вакансии</a></li>#}
{#                        <li><a href="">Лицензии</a></li>#}
{#                        <li><a href="">Фотогалерея</a></li>#}
{#                        <li><a href="">Блог</a></li>#}
{#                        <li><a href="">Форум</a></li>#}
{#                        <li><a href="">Законодательная карта</a></li>#}
{#                        <li><a href="">Политика конфиденциальности</a></li>#}
                    </ul>
                </div>
                <div class="uk-text-center image">
                    <div>
                        <div class="img">
                            <a href="{% url 'doctors' %}">
                                <img src="{% static 'img/png/menu_bottom_employees.png' %}" alt="">
                                <h6>Специалисты</h6>
                            </a>
                        </div>
                    </div>
{#                    <div>#}
{#                        <div class="img">#}
{#                            <a href="{% url 'services' %}">#}
{#                                <img src="{% static 'img/png/menu_bottom_services.png' %}" alt="">#}
{#                                <h6>Услуги и цены</h6>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
                </div>
{#                <div>#}
{#                    <h5>Пациенту</h5>#}
{#                    <ul>#}
{#                        <li><a href="">Мои талоны</a></li>#}
{#                        <li><a href="">Корзина услуг</a></li>#}
{#                        <li><a href=""> Заявление на прикрепление</a></li>#}
{#                        <li><a href="">Запись на прием</a></li>#}
{#                        <li><a href=""> Запись на госпитализацию</a></li>#}
{#                        <li><a href="">Запись на госпитализацию</a></li>#}
{#                        <li><a href=""> Видео-консультация врача</a></li>#}
{#                        <li><a href="">Страховые организации</a></li>#}
{#                        <li><a href="">Государственные программы</a></li>#}
{#                    </ul>#}
{#                </div>#}
                <div>
                    <h5>Контакты</h5>
                    <p>{{ contact.address }}</p>
                    <p>{{ contact.work_time }}</p>
                    <p>{{ contact.phone }}</p>
                    <a class="email" href="">{% if contact.email %}{{ contact.email }}{% endif %}</a>
{#                    <form>#}
{#                        <div class="uk-margin" uk-margin>#}
{#                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Поиск по сайту">#}
{#                            <button class="uk-button uk-button-default">Поиск</button>#}
{#                        </div>#}
{#                    </form>#}
                </div>
            </div>
            <hr>
            <div class="uk-text-center">
                <p class="uk-margin-remove">© 1996-2017 Амбулаторно-поликлиническое медицинское учреждение</p>
            </div>
        </div>

    </div>
{#    <div class="uk-container uk-container-small">#}
{#        <div class="slider_footer">#}
{#            <div class="item">#}
{#                <div>#}
{#                    <img src="img/png/footer_slider.png" alt="">#}
{#                    <p>Lorem ipsum dolor sit.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div>#}
{#                    <img src="img/png/footer_slider.png" alt="">#}
{#                    <p>Lorem ipsum dolor sit.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div>#}
{#                    <img src="img/png/footer_slider.png" alt="">#}
{#                    <p>Lorem ipsum dolor sit.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div>#}
{#                    <img src="img/png/footer_slider.png" alt="">#}
{#                    <p>Lorem ipsum dolor sit.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</footer>
{% block js %}
    <script src="{% static 'js/main.js' %}"></script>


{% endblock %}
</body>
</html>